JARVIS_MODERATION_ENABLED=false
JARVIS_MODERATION_MODEL=
JARVIS_MODERATION_TIMEOUT_SECONDS=8
JARVIS_MODERATION_POLICY_VERSION=v1
JARVIS_MODERATION_MAX_PARALLEL=2
JARVIS_MODERATION_MAX_QUEUE=8
JARVIS_MODERATION_QUEUE_TIMEOUT_SECONDS=2
JARVIS_MODERATION_REQUESTS_PER_MINUTE=60
TOPKIMC_MODERATION_API_KEY=
